 <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        {% load static %}
        <div class="aa-latest-properties-content">
          <div class="row">
            {% for rs in lastcars %}
            <div class="col-md-4">
              <article class="aa-properties-item">
                 <a href="/car/{{rs.id}}/{{rs.slug}}" class="aa-properties-item-img">
                     <img src="{{rs.image.url}}" alt="img">
                 </a>
                <div class="aa-properties-item-content">
                  <h5><a href="/car/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></h5>
                  <div class="aa-properties-info">
                    {{ rs.description }}
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      {{rs.price}}₺
                    </span>
                    <a href="/car/{{ rs.id }}/{{ rs.slug }}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/3.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2020</span>
                    <span>Yakıt: Benzin</span>
                    <span>Vites: Otomatik</span>
                    <span>Km: 0</span>
                    <span>Kasa Tipi: Coupe</span>
                    <span>Renk: Siyah</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      799.000TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/4.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2010</span>
                    <span>Yakıt: Benzin</span>
                    <span>Vites: Otomatik</span>
                    <span>Km: 223</span>
                    <span>Kasa Tipi: Sedan</span>
                    <span>Renk: Beyaz</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      89.500TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src= "{% static "img/item/5.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2013</span>
                    <span>Yakıt: Dizel</span>
                    <span>Vites: Manuel</span>
                    <span>Km: 88.000</span>
                    <span>Kasa Tipi:  Hatchback 5 kapı</span>
                    <span>Renk: Kırmızı</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      123.750TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/6.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2018</span>
                    <span>Yakıt: Dizel</span>
                    <span>Vites: Manuel</span>
                    <span>Km: 84.000</span>
                    <span>Kasa Tipi:  Hatchback 5 kapı</span>
                    <span>Renk: Kahverengi</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      165.250TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->