 <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Latest Properties</h2>
          <span></span>
        </div>
          {% load static %}
        <div class="aa-latest-properties-content">
          <div class="row">
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/1.png" %}" alt="img">
                </a>
                <div class="aa-tag for-sale">
                  For Sale
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>5 Rooms</span>
                    <span>2 Beds</span>
                    <span>3 Baths</span>
                    <span>1100 SQ FT</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}">Appartment Title</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      $35000
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">View Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/2.png" %}" alt="img">
                </a>
                <div class="aa-tag for-rent">
                  For Rent
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>5 Rooms</span>
                    <span>2 Beds</span>
                    <span>3 Baths</span>
                    <span>1100 SQ FT</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}" >Appartment Title</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      $11000
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">View Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/3.png" %}" alt="img">
                </a>
                <div class="aa-tag sold-out">
                  Sold Out
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>5 Rooms</span>
                    <span>2 Beds</span>
                    <span>3 Baths</span>
                    <span>1100 SQ FT</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}">Appartment Title</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      $15000
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">View Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/4.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2010</span>
                    <span>Yakıt: Benzin</span>
                    <span>Vites: Otomatik</span>
                    <span>Km: 223</span>
                    <span>Kasa Tipi: Sedan</span>
                    <span>Renk: Beyaz</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}"></a></h3>
                    <p>ARACIN KAPORTA AKSAMINDA DEĞİŞEN YOK. SAĞ ARKA KAPI VE ARKA ÇAMURLUKTA BOYA VAR. MOTOR YÜRÜR AKSAMINDA SORUN YOK. İÇİ DIŞI MÜKEMMEL TEMİZLİKTE BİR ARAÇTIR. TRAMER KAYDI 6 BİN TL DİR. </p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      89.500TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src= "{% static "img/item/5.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2013</span>
                    <span>Yakıt: Dizel</span>
                    <span>Vites: Manuel</span>
                    <span>Km: 88.000</span>
                    <span>Kasa Tipi:  Hatchback 5 kapı</span>
                    <span>Renk: Kırmızı</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}"></a></h3>
                    <p>Sol ön çamurluk - sol ön kapı - sol arka kapı boyalı. Değişen, sökme , takma, düzeltme yok. 5664 Tramer kaydı:1.700 tl </p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      123.750TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="{% static "#" %}" class="aa-properties-item-img">
                  <img src="{% static "img/item/6.png" %}" alt="img">
                </a>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>Yıl: 2018</span>
                    <span>Yakıt: Dizel</span>
                    <span>Vites: Manuel</span>
                    <span>Km: 84.000</span>
                    <span>Kasa Tipi:  Hatchback 5 kapı</span>
                    <span>Renk: Kahverengi</span>
                    <span>Durumu: İkinci El</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="{% static "#" %}"></a></h3>
                    <p>2018 MD SANDERO STEPWAY STYLE 1.5 DCİ 90 HP
                        HATASIZ BOYASIZ
                        LANSMAN RENK
                        GARANTİSİ DEVAM EDİYOR
                        SERVİS BAKIMLI
                        ECO MODU
                        CRUISE CONTROL
                        HIZ SINIRLAMA
                        PARK SENSÖRÜ
                        ÖN KOL DAYAMA
                        ELEKTRİKLİ AYNALAR
                        START STOP
                        YOKUŞ KALKIŞ DESTEĞİ
                        BLUETOOTH
                        DIGITAL KLİMA
                        TELEFON ARAMA ÖZELLİĞİ
                        USB GİRİŞİ
                        4 CAM OTOMATİK
                        MERKEZİ KİLİT
                        FONKSİYONEL DİREKSİYON
                        HAVUZLU PASPAS VE BAGAJ HAVUZU
                        YEDEK ANAHTARI VE KİTAPÇIK MEVCUTTUR</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      165.250TL
                    </span>
                    <a href="{% static "#" %}" class="aa-secondary-btn">Details</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->

  <!-- Client Testimonial -->
  <section id="aa-client-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-testimonial-area">
            <div class="aa-title">
              <h2>What Client Say</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eaque quas debitis animi ipsum, veritatis!</p>
            </div>
            <!-- testimonial content -->
            <div class="aa-testimonial-content">
              <!-- testimonial slider -->
              <ul class="aa-testimonial-slider">
                <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="{% static "img/testimonial-1.png" %}" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="{% static "img/testimonial-3.png" %}" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="{% static "img/testimonial-2.png" %}" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Client Testimonial -->

  <!-- Client brand -->
  <section id="aa-client-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-brand-area">
            <ul class="aa-client-brand-slider">
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-1.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-2.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-3.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-5.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-4.png" %}" alt="brand image">
                </div>
              </li>
               <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-1.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-2.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-3.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-5.png" %}" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="{% static "img/client-brand-4.png" %}" alt="brand image">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Client brand -->