
  <!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
      <div id="navbar" class="navbar-collapse collapse">
      {% load mptt_tags %}
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li><a href="/">HOME</a></li>
					{% recursetree category %}
						{% if node.is_leaf_node %}
						    <li><a class="dropdown" href="/category/{{ node.id }}/child">{{ node.title }}</a></li>
                        {% endif %}
                        {% if not node.is_leaf_node %}
							<li class="dropdown">
								<a href="/category/{{ node.id }}/parent">{{ node.title }}</a>
								<ul class="dropdown-menu" role="menu">{{ children }}</ul>
							</li>
						{% endif %}
					{% endrecursetree %}

            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/references">REFERENCES</a></li>
            <li>
				{% if user.id is not None %}
				<a>{{user.first_name}} {{user.last_name}}</a>
				<img src="{{request.user.profile.image.url}}">
					<ul>
						<li><a href="/user">Hesabım</a></li>
						<li><a href="/user/contents">İçeriklerim</a></li>
						<li><a href="/user/comments">Yorumlarım</a></li>
						<li><a href="/user/advertisements">İlanlarım</a></li>
						<li><a href="/logout">Çıkış Yap</a></li>
					</ul>
                {% else %}
                    <a href="/signup/" class="aa-register">Register</a>
                    <a href="/login/" class="aa-login">Login</a>
				{% endif %}
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </section>
  <!-- End menu section -->