<!-- Start header section -->
  <header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">

                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  {% load static %}
                <div class="aa-header-right">
                  <a href="{% static 'register.html' %}" class="aa-register">Register</a>
                  <a href="{% static 'signin.html' %}" class="aa-login">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->

  <!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="{% static "index.html" %}">HOME</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{% static "properties.html" %}">PROPERTIES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% static "properties.html" %}">PROPERTIES</a></li>
                <li><a href="{% static "properties-detail.html" %}">PROPERTIES DETAIL</a></li>
              </ul>
            </li>
            <li><a href="{% static "gallery.html" %}">GALLERY</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{% static 'blog-archive.html' %}">BLOG <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% static 'blog-archive.html' %}">BLOG</a></li>
                <li><a href="{% static 'blog-single.html' %}">BLOG DETAILS</a></li>
              </ul>
            </li>
            <li><a href="{% static 'contact.html' %}">CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </section>
  <!-- End menu section -->