 <!-- Start slider  -->
  <section id="aa-slider">
      {% load static %}
    <div class="aa-slider-area">
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/3.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Mercedes-Benz C 200 d BlueTEC AMG</span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Istanbul</p>
            <p class="aa-top-slider-price">395.650 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/2.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Audi A4 Sedan 2.0 TDI Design </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Antalya </p>
            <p class="aa-top-slider-price">405.000 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/1.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">BMW 525i Standart</span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Ankara</p>
            <p class="aa-top-slider-price">232.000 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/4.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Chevrolet Cruze 1.6 LS </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Konya</p>
            <p class="aa-top-slider-price">89.500 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static  "img/slider/5.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Ford Fiesta  1.5 TDCi Titanium X  </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Zonguldak</p>
            <p class="aa-top-slider-price">123.750 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
         <div class="aa-advance-search-top">
            <div class="row">
              <div class="col-md-4">
                <div class="aa-single-advance-search">
                  <input type="text" placeholder="Arama">
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select>
                   <option value="0" selected>Kategori</option>
                    <option value="1">Otomobil</option>
                    <option value="2">Arazi,SUV & Pickup</option>
                    <option value="3">Motosiklet</option>
                    <option value="4">Elektrikli Araçlar</option>
                    <option value="5">Ticari Araçlar</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                 <div class="aa-single-advance-search">
                  <select>
                    <option value="0" selected>Marka</option>
                    <option value="1">Audi</option>
                    <option value="2">BMW</option>
                    <option value="3">Chevrolet</option>
                    <option value="4">Dacia</option>
                    <option value="5">Ferrari</option>
                    <option value="6">Fiat</option>
                    <option value="7">Ford</option>
                    <option value="8">Hyundai</option>
                    <option value="9">Mercedes-Benz</option>
                    <option value="10">Opel</option>
                  </select>
              </div>
              </div>
              <div class="col-md-2">
                 <div class="aa-single-advance-search">
                  <select>
                    <option value="0" selected>Nerede</option>
                    <option value="1">Adana</option>
                    <option value="2">Adıyaman</option>
                    <option value="3">Afyonkarahisar</option>
                    <option value="4">Ağrı</option>
                    <option value="5">Aksaray</option>
                    <option value="6">Amasya</option>
                    <option value="7">Ankara</option>
                    <option value="8">Bartın</option>
                    <option value="9">Bolu</option>
                    <option value="10">İstanbul</option>
                    <option value="10">İzmir</option>
                  </select>
              </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <input class="aa-search-btn" type="submit" value="Search">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->
