 <!-- Start slider  -->
  <section id="aa-slider">
      {% load static %}
    <div class="aa-slider-area">
      <!-- Top slider -->
      <div class="aa-top-slider">
        {% for rs in sliderdata %}
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{{ rs.image.url }}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">{{ rs.title }}</span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>{{ rs.description }}</p>
            <p class="aa-top-slider-price">{{ rs.price }}</p>
            <a href="/car/{{ rs.id }}/ {{ rs.slug }}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        {% endfor %}
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/3.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Mercedes-Benz C 200 d BlueTEC AMG</span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Istanbul</p>
            <p class="aa-top-slider-price">395.650 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/2.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Audi A4 Sedan 2.0 TDI Design </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Antalya </p>
            <p class="aa-top-slider-price">405.000 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/1.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">BMW 525i Standart</span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Ankara</p>
            <p class="aa-top-slider-price">232.000 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static "img/slider/4.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Chevrolet Cruze 1.6 LS </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Konya</p>
            <p class="aa-top-slider-price">89.500 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static  "img/slider/5.png" %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Ford Fiesta  1.5 TDCi Titanium X  </span>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Turkıye Zonguldak</p>
            <p class="aa-top-slider-price">123.750 TL</p>
            <a href="{% static "#" %}" class="aa-top-slider-btn">More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
         <div class="aa-advance-search-top">
            <div class="row">
              <form action="/search/" method="post">
                  {% csrf_token %}
              <div class="col-md-8">
                <div class="aa-single-advance-search">
                  <input name="query"  type="text" placeholder="Search">
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                   <select name="catid" class="input search-categories">
                   <option value="0" selected>Category</option>
                   {% load mptt_tags %}
                   <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
					{% recursetree category %}
						{% if node.is_leaf_node %}
						    <option value="{{node.id}}">{{node.title}}</option>
                        {% endif %}
                        {% if not node.is_leaf_node %}
							<optgroup label="{{node.title}}">

                            {{children}}

                            </optgroup>
						{% endif %}
					{% endrecursetree %}
                   </ul>
                   </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <input class="aa-search-btn" type="submit" value="Search">
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->
