{% extends 'homebase.html' %}
{% block title %} User Profile  {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Start Proerty header  -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ol class="breadcrumb">
                            <li><a href="/">HOME</a></li>
                            <li><a href="#">USER PROFILE </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aa-properties">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <aside class="aa-properties-sidebar">
                        <!-- Start Single properties sidebar -->
                        <div class="aa-properties-single-sidebar">
                            {% include "user_panel.html" %}
                        </div>
                    </aside>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form.media }}
                            {{ form.as_p }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-common" id="submit" type="submit">SAVE</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </section>
    <!-- / Properties  -->

{% endblock %}